#howplayDizard.tab-pane.active
  / <iframe width="793" height="446" src="//www.youtube.com/embed/hfildcebqGw" frameborder="0" allowfullscreen></iframe>
  %table.table
    %thead
      %tr
        %td Ник
        %td Игр сыграно
        %td Выиграл
        %td Проиграл
        %td Заработал
    %tbody
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/277.png"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/35562", :target => "_blank", :uid => "35562"} Defragger
            %span.label.label-default{:title => "Skill"} 18 990.00
        %td 1343
        %td 1146
        %td 197
        %td 29 247
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/137907.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/15073", :target => "_blank", :uid => "15073"} mp3.Cocaine
            %span.label.label-default{:title => "Skill"} 15 655.00
        %td 722
        %td 682
        %td 40
        %td 20 114
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/50707.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/9665", :target => "_blank", :uid => "9665"} Alex-_-
            %span.label.label-default{:title => "Skill"} 9 015.00
        %td 565
        %td 477
        %td 88
        %td 16 379
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/139852.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/53616", :target => "_blank", :uid => "53616"} EQEQEQEQ
            %span.label.label-default{:title => "Skill"} 16 718.00
        %td 1156
        %td 902
        %td 254
        %td 16 217
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/277.png"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/52680", :target => "_blank", :uid => "52680"} max99
            %span.label.label-default{:title => "Skill"} 17 905.00
        %td 977
        %td 840
        %td 137
        %td 15 077
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/10705.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/21020", :target => "_blank", :uid => "21020"} ohooho
            %span.label.label-default{:title => "Skill"} 5 833.00
        %td 567
        %td 432
        %td 135
        %td 14 372
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/277.png"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/52409", :target => "_blank", :uid => "52409"} hey
            %span.label.label-default{:title => "Skill"} 5 798.00
        %td 460
        %td 341
        %td 119
        %td 10 616
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/139031.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/1519", :target => "_blank", :uid => "1519"} Admiral Sapozhnik
            %span.label.label-default{:title => "Skill"} 5 724.00
        %td 1335
        %td 859
        %td 476
        %td 9 104
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/49019.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/52268", :target => "_blank", :uid => "52268"} Альберт Эйнштейн
            %span.label.label-default{:title => "Skill"} 12 577.00
        %td 783
        %td 637
        %td 146
        %td 8 778
      %tr
        %td
          %img.user-ava{:src => "http://dizard.ru/public/tmp/img/25_25_auto/43065.jpg"}
            %a.u-login-hover{"data-game" => "dota", :href => "/user/23147", :target => "_blank", :uid => "23147"} 1232132321
            %span.label.label-default{:title => "Skill"} 10 857.00
        %td 1179
        %td 791
        %td 388
        %td 8 358