.col-md-12.no-padding.no-float
  .padding-fullpage.clearfix
    .row
      %section.clearfix
        .row
          %h1{:align => "center"} All pick 3x3 - 50 rub.
    .row
      %section.clearfix
        .col-md-6
          %h2 Team 1
          %table.table.table-bordered.list-group
            %tbody
              %tr
                %td
                  %img.user-ava{:src => "277.png"}
                    %h4.list-group-item-heading
                      %a{:href => "#"} Nagibator 228
                    %p.list-group-item-text
                      %a{:href => "#"} покинуть
              %tr
                %td
                  %img.user-ava{:src => "277.png"}
                    %h4.list-group-item-heading
                      %a{:href => "#"} Pudge
                    %p.list-group-item-text
                      %a{:href => "#"} покинуть
              %tr
                %td
                  %img.user-ava{:src => "277.png"}
                    %h4.list-group-item-heading
                      %a{:href => "#"} Dendi
                    %p.list-group-item-text
                      %a{:href => "#"} покинуть
          .text-right
            %button.btn.btn-success.btn-flat Join Team
        .col-md-6
          %h2 Team 2
          %table.table.table-bordered.list-group
            %tbody
              %tr
                %td
                  %img.user-ava{:src => "277.png"}
                    %h4.list-group-item-heading
                      %a{:href => "#"} PGG
                    %p.list-group-item-text
                      %a{:href => "#"} покинуть
              %tr
                %td
                  %img.user-ava{:src => "277.png"}
                    %h4.list-group-item-heading
                      %a{:href => "#"} S4
                    %p.list-group-item-text
                      %a{:href => "#"} покинуть
              %tr
                %td
                  %img.user-ava{:src => "277.png"}
                    %h4.list-group-item-heading
                      %a{:href => "#"} WOVAN
                    %p.list-group-item-text
                      %a{:href => "#"} покинуть
          .text-right
            %button.btn.btn-success.btn-flat Join Team
    .row
      %section.clearfix
        .col-md-4
          %h2 Rules:
          .list-group
            %a.list-group-item.active
              %h6.list-group-item-heading.cursor-default Без рун
            %a.list-group-item.active
              %h6.list-group-item-heading.cursor-default Число смертей до победы - 2
            %a.list-group-item.active
              %h6.list-group-item-heading.cursor-default Самоубийство считается за смерть
            %a.list-group-item.active
              %h6.list-group-item-heading.cursor-default Число вышек до победы - 3
            %a.list-group-item.active
              %h6.list-group-item-heading.cursor-default Без нейтралов
            %a.list-group-item.active
              %h6.list-group-item-heading.cursor-default Крипы только МИД
        .col-md-8
          %h2 Lockal chat
          / chat
          .sidebar-section
            .panel.panel-default
              .scrollspy-example{"data-offset" => "0", "data-spy" => "scroll", :style => "height:300px;margin:0;"}
                .bg-success.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename WOVVAN
                    %span.nikename :
                    го дота пацаны хочу играть го го го текст го го го текст го го го текст го го го текст
                  .time-local
                    %span.label.label-warning 21:00
                .bg-info.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename PGG
                    %span.nikename :
                    Все норм сейчас зайду
                  .time-local
                    %span.label.label-warning 21:01
                .bg-success.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename WOVVAN
                    %span.nikename :
                    давай жду
                  .time-local
                    %span.label.label-warning 21:02
                .bg-info.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename PGG
                    %span.nikename :
                    все я зашел
                  .time-local
                    %span.label.label-warning 21:01
                .bg-success.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename WOVVAN
                    %span.nikename :
                    выворачивай корманы, сейчас наказывать буду
                  .time-local
                    %span.label.label-warning 21:00
                .bg-success.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename WOVVAN
                    %span.nikename :
                    выворачивай корманы, сейчас наказывать буду
                  .time-local
                    %span.label.label-warning 21:00
                .bg-success.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename WOVVAN
                    %span.nikename :
                    выворачивай корманы, сейчас наказывать буду
                  .time-local
                    %span.label.label-warning 21:00
                .bg-info.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename PGG
                    %span.nikename :
                    Все норм сейчас зайду
                  .time-local
                    %span.label.label-warning 21:01
                .bg-success.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename WOVVAN
                    %span.nikename :
                    го дота пацаны хочу играть го го го текст го го го текст го го го текст го го го текст
                  .time-local
                    %span.label.label-warning 21:00
                .bg-info.clearfix{:style => "padding:10px;"}
                  .chat-text-local
                    %span.nikename PGG
                    %span.nikename :
                    Все норм сейчас зайду
                  .time-local
                    %span.label.label-warning 21:01
              .panel-footer.clearfix
                .form-wrap
                  %form.form{:method => "post", :role => "form"}
                    .form-group
                      %input.form-control{:autocomplete => "off", :maxlength => "500", :name => "message", :placeholder => "Введите текст вашего сообщения...", :type => "text"}
                    .text-center{:style => "font-size:18px;"}
                      %button.btn-success.float-right.btn-flat Отправить
          / chat
    .text-center
      %button.btn.btn-primary.btn-flat.big-margin.long-button{:type => "button"} Play!