.padding
  %ul.section-title.no-margin-top.clearfix
    %li
      %h3 Последние новости
  .clearfix
  %section.clearfix
    .pull-left.col-md-2.no-padding
      %img{:alt => "100%x100", "data-src" => "holder.js/100%x100", :src => "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAwIj48cmVjdCB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjUwLjUiIHk9IjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTAxeDEwMDwvdGV4dD48L3N2Zz4=", :style => "height: 100px; width: 100%; display: block;"}/
    .col-md-10
      %h3
        %a{:href => "post.html"} Итоги открытых квалификаций в Азии и Китае
      %p
        Если европейский и американский открытые отборочные этапы преподнесли немало сюрпризов зрителям, то в Азии все было по-восточному спокойной и выдержанно. В Юго-Восточной Азии, в отличии от других регионов, до полуфинала добрались только условно именитые команды — Invasion e-Sports, Execration, Aces Gaming и Insidious Idol. У каждого из перечисленных коллективов...
      .details
        %i.fa.fa-calendar-o
        Jan 18, 2014 - 10:00
        %span.fa.fa-caret-right
        %i.fa.fa-comments
        %a{:href => "#"} 2
  / section
  %section.clearfix
    .pull-left.col-md-2.no-padding
      %img{:alt => "100%x100", "data-src" => "holder.js/100%x100", :src => "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAwIj48cmVjdCB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjUwLjUiIHk9IjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTAxeDEwMDwvdGV4dD48L3N2Zz4=", :style => "height: 100px; width: 100%; display: block;"}/
    .col-md-10
      %h3
        %a{:href => "#"} Патч 6.84c
      %p
        Список изменений: Время длительности руны Haste уменьшено с 30 до 25 секунд Время перезарядки Mekansm увеличено с 45 до 65 секунд Бонус к скорости передвижения от Tether уменьшен с 17% до 14/15/16/17% Урон от Rocket Barrage уменьшен с 11/15/19/23 до 8/13/18/23 Базовое время атаки Bristleback увеличено с 1,7 до 1,8 Precision Aura (способность Drow Ranger) больше...
      .details
        %i.fa.fa-calendar-o
        Jan 18, 2014 - 10:00
        %span.fa.fa-caret-right
        %i.fa.fa-comments
        %a{:href => "#"} 2
  / section
  %section.clearfix
    .pull-left.col-md-2.no-padding
      %img{:alt => "100%x100", "data-src" => "holder.js/100%x100", :src => "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAwIj48cmVjdCB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjUwLjUiIHk9IjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTAxeDEwMDwvdGV4dD48L3N2Zz4=", :style => "height: 100px; width: 100%; display: block;"}/
    .col-md-10
      %h3
        %a{:href => "#"} Esportal перенесли финалы в онлайн
      %p
        Esportal Dota 2 League — один из самых амбициозных турниров в Европе. Несмотря на не очень большой призовой фонд, организаторы подошли к отбору финалистов с максимально серьезным подходом. Анонсированный в ноябре прошлого года шведский турнир порадовал болельщиков интересным форматом — организаторы планировали провести восемь отборочных этапов в формате...
      .details
        %i.fa.fa-calendar-o
        Jan 18, 2014 - 10:00
        %span.fa.fa-caret-right
        %i.fa.fa-comments
        %a{:href => "#"} 2
  / section
  %section.clearfix
    .pull-left.col-md-2.no-padding
      %img{:alt => "100%x100", "data-src" => "holder.js/100%x100", :src => "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAwIj48cmVjdCB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjUwLjUiIHk9IjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTAxeDEwMDwvdGV4dD48L3N2Zz4=", :style => "height: 100px; width: 100%; display: block;"}/
    .col-md-10
      %h3
        %a{:href => "#"} Summer's Rift не оправдали ожиданий
      %p
        Открытые отборочные этапы в каждом регионе уже подходят к своему логическому завершению. Сперва мы узнали сильнейшего в Европе, а следом в Америке и Юго-Восточной Азии. Стоит отметить, что американская открытая квалификация принесла сюрпризов не меньше европейской. Главным фаворитом в гонке за приглашением в основной отборочный этап считались ребята из Summer's...
      .details
        %i.fa.fa-calendar-o
        Jan 18, 2014 - 10:00
        %span.fa.fa-caret-right
        %i.fa.fa-comments
        %a{:href => "#"} 2
  %button.btn.btn-primary.btn-lg.btn-block.btn-load.btn-flat{"data-loading-text" => "Loading...", :type => "button"} Load More...